{% extends 'Connect_FMS/base.html' %}
{% block content %}

<div id="page-content">
<div class="fluid-container" >
    <div class="col-md-4 col-sm-6">
    <!-- Mobile Version -->
        <div class="panel panel-default">
          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
          <div class="panel-body">
              <div class="w88 dib">
              <h5>Report a problem</h5> 
              <form action='form_upload' method='post'>{% csrf_token %}
                {{ form.as_p }}
                <input type='submit' value='Submit' />
              </form>
              </div>
          </div>
        </div> 
    </div>
  </div>
</div>

 {% endblock %}